arxiv
pandas
tika
pdfminer.six
lxml
fake-useragent
nltk
spacy
scikit-learn==1.0.2
google-auth
google-api-python-client
gspread-dataframe
scipy
sentence-transformers
pyarrow
beautifulsoup4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl